@font-face {
    font-family: Norse;
    src: url('Font/Norse-Bold.otf') format('truetype');
}

body{
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.banner {
    width: 40vw;
    background-image: url("Images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: Norse,sans-serif;
    color: antiquewhite;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.500);   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease-out;
    font-size: 5vh;
    width: 40vw;
    padding: 20px 0;
}

.logo2 {  
    transform: translate(0,5vh);
}

.logo > * {
    padding: 0;
    margin: 0;
}

.logo > img {
    max-width: 5vw;
    border-radius: 5vw;
}

.form {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    position: absolute;
    padding: 5px 0;
    bottom: 0;
    background-color: lightgray;
    width: 60vw;
    text-align: center;
    color: rgba(0, 0, 0, 0.763);
}

.card {
    width: 60vw;
    padding: 20px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: inset 0 4px 0 lightgray, inset 0 -4px 0 lightgray;
    transition: all 0.3s ease-out;
}

.animation {
    transform: translate(0, -5vh);
}